{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="card card-narrow-lg">
    <h1>{{ title }}</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">{{ form.name.label }} {{ form.name(class="form-control") }}</div>
        <div class="form-group">
            {{ form.message.label }}
            {{ form.message(class="form-control", id="message-field", maxlength=640, **{"data-sms-counter": "sms-counter"}) }}
            <div class="help-text" id="sms-counter"></div>
        </div>
        <div class="form-group">{{ form.group_id.label }} {{ form.group_id(class="form-control") }}</div>
        <div class="form-group">{{ form.scheduled_at.label }} {{ form.scheduled_at(class="form-control") }}</div>
        {{ form.submit(class="btn") }}
        <a href="{{ url_for('campaigns.index') }}" class="btn btn-outline">Annuler</a>
    </form>
</div>
<script src="{{ url_for('static', filename='js/sms-counter.js') }}"></script>
{% endblock %}
