<!DOCTYPE html>
<html>
<head>
    <title>SMS Marketing Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">SMS</span> Marketing Platform</h1>
            </div>!
            
            <nav>
                <ul>
                    <li class="current"><a href="{{ url_for('home') }}">Home</a></li>
                    {% if 'user_id' in session %}
                        <li><a href="{{ url_for('create_campaign') }}">New Campaign</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </div>
</body>
</html>